<header class="bg-zinc-900 flex flex-col md:flex-row text-center md:text-left p-20 gap-3 rounded-xl">
    <div>
        <h1 class="text-5xl font-bold pb-4">Protect Your Passwords</h1>
        <p class="pb-4 text-2xl">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto,
            quos.
        </p>
        <button class="bg-indigo-500 px-3 py-2 hover:bg-indigo-400 rounded-lg"> Start now</button>
    </div>
    <img src="img/fingerprint.svg" alt="" class="w-80" />
</header>