---
interface Props{
    title?: string;
}

const {title} = Astro.props

import Footer from "../components/Footer.astro";
import "../styles/Layout.css";
import favicon from "/public/favicon.svg";
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" href={favicon} type="image/x-icon" />
        <title>Astro landing | {title}</title>
    </head>
    <body>
        <main class="mx-auto container pt-20">
            <slot />
        </main>
        <Footer/>

    </body>
</html>
